.footer
	.footer__top.container
		.footer__top-left-block
			.footer__top-menu
				h5 About us
				ul
					li
						a(href="#") Our Company
					li
						a(href="#") Press Release
					li
						a(href="#") Contact Us
					li
						a(href="#") Where to Buy
					li
						a(href="#") Technology
			.footer__top-contacts
				h5 Contact Us
				ul
					li
						a(href="tel:12345678") US +1 (800) 988 7973 Mon-Fri 9AM-5PM (PT)
					li
						a(href="tel:12345678") US +1 (800) 988 7973 Mon-Fri 9AM-5PM (PT)
					li
						a(href="tel:12345678") US +1 (800) 988 7973 Mon-Fri 9AM-5PM (PT)
					li
						a(href="tel:12345678") US +1 (800) 988 7973 Mon-Fri 9AM-5PM (PT)
					li
						a(href="tel:12345678") US +1 (800) 988 7973 Mon-Fri 9AM-5PM (PT)
		.footer__top-right-block
			.footer__top-subscribe
				h5 Subscribe
					span Access exclusive offers, news, and more.
				form
					input(placeholder="Введите E-mail" type="text")
					input(type="submit" value="Подписаться")
					label
						input(class="checkbox" type="checkbox" name="checkbox-test")
						span.checkbox-custom
						span.label By clicking 'SUBSCRIBE' you agree to the Terms of Use and Privacy Policy.
			.footer__top-social
				a(href="#")
					i.iconfont &#59049
				a(href="#")
					i.iconfont &#59041
				a(href="#")
					i.iconfont &#59043
				a(href="#")
					i.iconfont &#59047
				a(href="#")
					i.iconfont &#59042
				a(href="#")
					i.iconfont &#59048
	.footer__bottom
		.footer__bottom-logo.container
			a(href="#")
				i.iconfont &#58894
			a(href="#")
				i.iconfont &#59073
			a(href="#")
				i.iconfont &#59075
			a(href="#")
				i.iconfont &#59072
			a(href="#")
				i.iconfont &#59071
			a(href="#")
				i.iconfont &#59066
		.footer__bottom-copy.container
			p Copyright © 2018 Anker Innovations Limited
div.scroll__top
	a(href="#top")
		i.iconfont &#58886
div#form-join.popup
	p.title__form Заголовок формы
	form
		p
			input(type="text" placeholder="Имя")
		p
			input(type="text" placeholder="Телефон")
		p
			input(type="button" value="Отправить")