.header.header__home
	.header__home-fixed-block
		.header__home-top-panel
			.container
				.phones
					a(href="tel:+380979877766") +38(097) 987-77-66
					a(href="tel:+380979877766") +38(097) 987-77-66
				ul
					li
						a(href="#") Регистрация
					li
						a(href="#") Вход
		.header__home-menu
			.container
				a.mob__menu(href="#") Меню
				a(class="back-home" href="#")
					i.iconfont.logo &#59064
				.menu.menu__dark
					include ../modules/top-menu