div.products__list-item
	a(class="products__list-item-link" href="product.html")
		div.products__list-item-img
			img(src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69216/mini/A1109011_TD01.jpg?1528860908", alt="")
			img(class="dop__img" src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69222/mini/A1109011_TD07.jpg?1528860924", alt="")
		div.products__list-item-attr
			<span style="background-color:#e2d5b1">Red</span>
			<span style="background-color:#1e73be">Blue</span>
			<span style="background-color:#cecece">Gray</span>
		div.products__list-item-name
			h3 Road Viva
		div.products__list-item-description
			p Lorem ipsum
		div.products__list-item-price
			span $99.99
div.products__list-item
	a(class="products__list-item-link" href="#")
		div.products__list-item-img
			img(src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69216/mini/A1109011_TD01.jpg?1528860908", alt="")
			img(class="dop__img" src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69222/mini/A1109011_TD07.jpg?1528860924", alt="")
		div.products__list-item-attr
			<span style="background-color:#e2d5b1">Red</span>
			<span style="background-color:#1e73be">Blue</span>
			<span style="background-color:#cecece">Gray</span>
		div.products__list-item-name
			h3 Road Viva
		div.products__list-item-description
			p Lorem ipsum
		div.products__list-item-price
			span $99.99
div.products__list-item
	a(class="products__list-item-link" href="#")
		div.products__list-item-img
			img(src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69216/mini/A1109011_TD01.jpg?1528860908", alt="")
			img(class="dop__img" src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69222/mini/A1109011_TD07.jpg?1528860924", alt="")
		div.products__list-item-attr
			<span style="background-color:#e2d5b1">Red</span>
			<span style="background-color:#1e73be">Blue</span>
			<span style="background-color:#cecece">Gray</span>
		div.products__list-item-name
			h3 Road Viva
		div.products__list-item-description
			p Lorem ipsum
		div.products__list-item-price
			span $99.99
div.products__list-item
	a(class="products__list-item-link" href="#")
		div.products__list-item-img
			img(src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69216/mini/A1109011_TD01.jpg?1528860908", alt="")
			img(class="dop__img" src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69222/mini/A1109011_TD07.jpg?1528860924", alt="")
		div.products__list-item-attr
			<span style="background-color:#e2d5b1">Red</span>
			<span style="background-color:#1e73be">Blue</span>
			<span style="background-color:#cecece">Gray</span>
		div.products__list-item-name
			h3 Road Viva
		div.products__list-item-description
			p Lorem ipsum
		div.products__list-item-price
			span $99.99
div.products__list-item
	a(class="products__list-item-link" href="#")
		div.products__list-item-img
			img(src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69216/mini/A1109011_TD01.jpg?1528860908", alt="")
			img(class="dop__img" src="https://d2211byn0pk9fi.cloudfront.net/spree/products/69222/mini/A1109011_TD07.jpg?1528860924", alt="")
		div.products__list-item-attr
			<span style="background-color:#e2d5b1">Red</span>
			<span style="background-color:#1e73be">Blue</span>
			<span style="background-color:#cecece">Gray</span>
		div.products__list-item-name
			h3 Road Viva
		div.products__list-item-description
			p Lorem ipsum
		div.product__reviews
			div.products__list-item-rating
				span
						i.iconfont &#58928
						i.iconfont &#58928
						i.iconfont &#58928
						i.iconfont &#58928
						i.iconfont &#58928
				span.rating-bg
					span
						i.iconfont &#58929
						i.iconfont &#58929
						i.iconfont &#58929
						i.iconfont &#58929
						i.iconfont &#58929
		div.products__list-item-price
			span $99.99