extends ../layout/main-about

block content
	div.categories__wrap.categories__wrap-about
		div.section__anker
			div.categories__description
				img(src="static/img/about-1.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59064
							p Anker is the global leader in charging technology. This includes wireless charging, car charging, and our best-selling portable and wall chargers. Anker is pioneering Power Delivery technology to charge phones, tablets, and laptops at unprecedented speeds.
								a(href="#") Подробнее>>
							img(src="static/img/about-1.png", alt="")
		div.section__anker
			div.categories__description
				img(src="static/img/about-2.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59075
							p Soundcore breaks audio illusions to create speakers and earphones that spark real emotions. This includes the Flare series, 360° speakers with a beat-driven lightshow, and the Spirit series, the world’s first truly sweatproof earphones.
								a(href="#") Подробнее>>
							img(src="static/img/about-2.png", alt="")
		div.section__eufy
			div.categories__description
				img(src="static/img/about-3.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59036
							p EUFY is creating a new generation of connected devices and appliances that will simplify the smart-home experience and make it more accessible. This includes Eufy Genie, an Alexa-powered speaker, and a growing list of smart appliances such as lights, vacuums, and smart plugs.
								a(href="#") Подробнее>>
							img(src="static/img/about-3.png", alt="")
		div.section__nebula
			div.categories__description
				img(src="static/img/shop-5.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59065
							p NEBULA represents a new and exciting class of smart, portable entertainment devices. This includes Nebula Mars and Nebula Capsule—the world’s first smart, portable cinema. Nebula combines smart capability with immersive audio and visuals.
								a(href="#") Подробнее>>
							img(src="static/img/about-4.png", alt="")
		div.section__roav
			div.categories__description
				img(src="static/img/about-5.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59039
							p ROAV is focused on developing products that bring smart, connected services to any vehicle. Roav’s DashCam cameras, SmartCharge chargers, and VIVA voice control devices make every drive safer and smarter.
								a(href="#") Подробнее>>
							img(src="static/img/about-5.png", alt="")