extends ../layout/main

block content
	div.categories__wrap.careers__wrap
		div.categories__description
			img(src="static/img/car-1.jpg", alt="")
		h1 The Power Team
		p At Anker, we believe everyone has the power to change the world for the better.
		p We make products that power up our customers, and
		p we create environments that power up ourselves.
		.careers__description
			img(src="static/img/car-2.jpg", alt="")
		.container.careers__col-3
				.careers__description-block
					.careers__description-block-inner
						h3 The Power to Innovate
						p We challenge the status-quo everyday to develop better solutions for everything we do.
						div.careers__description-block-img
							img(src="static/img/car-3.jpg", alt="")
				.careers__description-block
					.careers__description-block-inner
						h3 Charge Forward
						p We challenge the status-quo everyday to develop better solutions for everything we do.
						div.careers__description-block-img
							img(src="static/img/car-4.jpg", alt="")
				.careers__description-block
					.careers__description-block-inner
						h3 Connect and Collaborate
						p We challenge the status-quo everyday to develop better solutions for everything we do.
						div.careers__description-block-img
							img(src="static/img/car-5.jpg", alt="")
		h3 Global Presence
		p Anker has offices in the US, Japan, China, Southeast Asia and the Middle East, offering almost endless opportunities around the world.
		p We are looking for great minds in Sales, Engineering and Marketing to join the ‘Power Team’.
		img(src="static/img/car-6.jpg", alt="")
		div.join
			<a data-fancybox data-src="#form-join" href="javascript:;">Join us</a>