extends ../layout/main-home

block content
	.content-icon.container
		i.iconfont x
		i.iconfont &#58928
		i.iconfont &#58929
		i.iconfont &#58900
		i.iconfont &#59238
		i.iconfont &#59168
		i.iconfont &#59169
		i.iconfont &#59170
		i.iconfont &#59171
		i.iconfont &#59175
		i.iconfont &#59177
		br
		i.iconfont &#59192
		i.iconfont &#59249
		i.iconfont &#58934
		i.iconfont &#59280
		i.iconfont &#58893
		i.iconfont &#59006
		i.iconfont &#58885
		i.iconfont &#58933
		i.iconfont &#58887
		i.iconfont &#58997
		i.iconfont &#58998
		i.iconfont &#59001
		i.iconfont &#59002
		i.iconfont &#59003
		i.iconfont &#59004
		i.iconfont &#59012
		i.iconfont &#59013
		i.iconfont &#59017
		i.iconfont &#59018
		i.iconfont &#59020
		i.iconfont &#59028
		br
		i.iconfont &#59030
		i.iconfont &#59032
		i.iconfont &#59034
		i.iconfont &#59041
		i.iconfont &#59042
		i.iconfont &#59043
		i.iconfont &#59046
		i.iconfont &#59047
		i.iconfont &#59048
		i.iconfont &#59049
		i.iconfont &#59051
		i.iconfont &#59052
		i.iconfont &#59053
		i.iconfont &#59057
		i.iconfont &#59068
		i.iconfont &#59069
		i.iconfont &#59036
		i.iconfont &#59039
		i.iconfont &#59050
		i.iconfont &#59054
		i.iconfont &#59055
		i.iconfont &#59056
		i.iconfont &#59058
		i.iconfont &#59059
		i.iconfont &#59060
		i.iconfont &#59061
		i.iconfont &#59062
		i.iconfont &#59063
		br
		i.iconfont &#59064
		i.iconfont &#59065
		i.iconfont &#58886
		i.iconfont &#58881
		i.iconfont &#58882
		i.iconfont &#58883
		i.iconfont &#58892
		i.iconfont &#58894
		i.iconfont &#58907
		i.iconfont &#59066
		i.iconfont &#59071
		i.iconfont &#59072
		i.iconfont &#59073
		i.iconfont &#59074
		i.iconfont &#59075
