extends ../layout/main

block content
	div.news__wrap
		div.news__header
			.container
				h1 Пресс-релизы
		div.news__main
			.container
				.news__main-page
						h2 Anker Launches the Most Compatible USB-C Powerbank in the Market
						h3 Released today the PowerCore+ 26800 Power Delivery, the most compatible external battery with Power Delivery technology
						div.share__page
							div.pluso
								span.pluso-wrap
									div
										a(href="#")
									div
										a(href="#")
						p Seattle, WASHINGTON — April 6, 2017 — Anker, a world renowned consumer electronics company, released the PowerCore iPhone Case 2200 yesterday, a new protective case for the iPhone with an integrated 2200 mAh battery. The case is available now on Amazon for $51.99.
						p “We designed this case to protect and charge the iPhone at the same time,” said Anker CEO Steve Yang, “The ability to both protect and power high usage devices such as smartphones is an amazing development. People can now minimize clutter and maximize efficiency while remaining connected to each other and the digital world.”
						p Charging the case battery is simple with the micro USB cable included with every purchase. The lightning cable attached to the battery is also MFI certified, meaning that the case will work safely with iPhones. Additionally, while the cable is not in use, the cable can be tucked away so it does not impede access to the iPhone lightning port. This is a feature that sets it apart from most smart phone protective cases in the market.
						ul
							li Dimensions: 141mm X 70mm X 15.3 mm
							li Dimensions: 141mm X 70mm X 15.3 mm
							li Dimensions: 141mm X 70mm X 15.3 mm
						span.news__main-page-date 2017-04-06
				div.news__main-page-nav
					div.prev__page
						a(href="#")
							span.news__main-page-img
								img(src="static/img/page-1.jpg", alt="")
							span.news__main-page-text
								| Anker Launches the Most Compatible USB-C Powerbank in the Market
					div.next__page
						a(href="#")
							span.news__main-page-text
								| Anker Launches the Most Compatible USB-C Powerbank in the Market
							span.news__main-page-img
								img(src="static/img/page-1.jpg", alt="")

