extends ../layout/main

block content
	div.news__wrap
		div.news__header
			.container
				h1 Пресс-релизы
		div.news__main
			.container
				.news__main-item
					a(href="#")
						img(src="static/img/news-1.jpg", alt="")
						h3 Anker Launches the Most Compatible USB-C Powerbank in the Market
						p Released  today the PowerCore+ 26800 Power Delivery, the most compatible external battery with Power Delivery technology
						span.news__date 2017-04-24
				.news__main-item
					a(href="#")
						img(src="static/img/news-1.jpg", alt="")
						h3 Anker Launches the Most Compatible USB-C Powerbank in the Market
						p Released  today the PowerCore+ 26800 Power Delivery, the most compatible external battery with Power Delivery technology
						span.news__date 2017-04-24
				.news__main-item
					a(href="#")
						img(src="static/img/news-1.jpg", alt="")
						h3 Anker Launches the Most Compatible USB-C Powerbank in the Market
						p Released  today the PowerCore+ 26800 Power Delivery, the most compatible external battery with Power Delivery technology
						span.news__date 2017-04-24
				.news__main-item
					a(href="#")
						img(src="static/img/news-1.jpg", alt="")
						h3 Anker Launches the Most Compatible USB-C Powerbank in the Market
						p Released  today the PowerCore+ 26800 Power Delivery, the most compatible external battery with Power Delivery technology
						span.news__date 2017-04-24
		div.news__main-nav
			.container
				ul
					li.prev__post.nav__post
						span Предыдущий пост
					li.active
						span 1
					li
						a(href="#") 2
					li
						span.dots ...
					li
						a(href="#") 3
					li.next__post.nav__post
						a(href="#")
							span Следующий пост
