extends ../layout/main

block content
	div.categories__wrap.shop__wrap
		div.section__anker
			div.categories__description
				img(src="static/img/shop-1.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59064
							h5 Charge Fast, Live More
							p Fast forward a few years, we’re now the industry leader in mobile charging—empowering the lives of millions of people around the world.
			section#anker.products__list.products__list-main
				nav.category__nav
					ul
						li.current-cat
							a(href="#") Power Banks
							ul
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
						li
							a(href="#") Chargers
							ul
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
						li
							a(href="#") Cables
						li
							a(href="#") Home Improvement
						li
							a(href="#") Cables
				.container
					include ../modules/products-list
		div.section__eufy
			div.categories__description
				img(src="static/img/shop-2.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59036
							h5 Charge Fast, Live More
							p Fast forward a few years, we’re now the industry leader in mobile charging—empowering the lives of millions of people around the world.
			section#eufy.products__list.products__list-main
				nav.category__nav
					ul
						li.current-cat
							a(href="#") Power Banks
							ul
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
						li
							a(href="#") Chargers
							ul
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
						li
							a(href="#") Cables
						li
							a(href="#") Home Improvement
						li
							a(href="#") Cables
				.container
					include ../modules/products-list
		div.section__roav
			div.categories__description
				img(src="static/img/shop-3.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59039
							h5 Charge Fast, Live More
							p Fast forward a few years, we’re now the industry leader in mobile charging—empowering the lives of millions of people around the world.
			section#roav.products__list.products__list-main
				nav.category__nav
					ul
						li.current-cat
							a(href="#") Power Banks
							ul
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
						li
							a(href="#") Chargers
							ul
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
						li
							a(href="#") Cables
						li
							a(href="#") Home Improvement
						li
							a(href="#") Cables
				.container
					include ../modules/products-list
		div.section__zolo
			div.categories__description
				img(src="static/img/shop-4.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59050
							h5 Charge Fast, Live More
							p Fast forward a few years, we’re now the industry leader in mobile charging—empowering the lives of millions of people around the world.
			section#zolo.products__list.products__list-main
				nav.category__nav
					ul
						li.current-cat
							a(href="#") Power Banks
							ul
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
						li
							a(href="#") Chargers
							ul
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
						li
							a(href="#") Cables
						li
							a(href="#") Home Improvement
						li
							a(href="#") Cables
				.container
					include ../modules/products-list
		div.section__nebula
			div.categories__description
				img(src="static/img/shop-5.jpg", alt="")
				.container
					div.shop__description-text
						div.shop__description-wrap
							h3
								i.iconfont &#59065
							h5 Charge Fast, Live More
							p Fast forward a few years, we’re now the industry leader in mobile charging—empowering the lives of millions of people around the world.
			section#nebula.products__list.products__list-main
				nav.category__nav
					ul
						li.current-cat
							a(href="#") Power Banks
							ul
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
								li
									a(href="#") Pocket Size Portable Chargers
						li
							a(href="#") Chargers
							ul
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
								li
									a(href="#") Pocket Size Portable Chargers2
						li
							a(href="#") Cables
						li
							a(href="#") Home Improvement
						li
							a(href="#") Cables
				.container
					include ../modules/products-list